body {
  margin-top: 60px
}

.container {
  width: 100%;

}

.hero {
  text-align: center;
  background-color: #71dfc5;
  h1 {
    font-size: 75px;
  }
  img {
    width: 100%;
  }
}

.content {
  background: #fff;
}