@import url(http://fonts.googleapis.com/css?family=Poiret+One);

body {
  background: #71dfc5 url(../images/demo-01.png) top center no-repeat;
  margin-top: 60px
}

.content {
  text-align: center;
  color: #fff;
  h1 {
    font-size: 75px;
    font-family: 'Poiret One', cursive;
  }
}