body {
  // margin-top: 60px
}

.container {
  // width: 100%;
}

.hero {
  padding-top: 60px;
  text-align: center;
  background-color: #71dfc5;
  h1 {
    font-size: 75px;
  }
  @media (max-width: @screen-md-min) {
    img {
      width: 100%;
    }
  }
}

.content {
  background: #fff;
}